# Node.js
node_modules/
npm-debug.log
yarn-error.log
.yarn/*
.pnp/*
.pnp.js
.env

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Editor-specific
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
*.komodoproject
*.code-workspace

# Build output
/build
/dist
/out